<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>Edit Parts Data</h3>
      <button (click)="closeModal()" class="close-btn" title="Close">
        <app-icon name="times" size="16"></app-icon>
      </button>
    </div>
    <div class="modal-body">
      <div class="modal-info">
        <span *ngIf="partsData.length > 0">
          {{ partsData.length }} unique part{{ partsData.length > 1 ? 's' : '' }} selected
        </span>
        <span *ngIf="getSelectedRowsCount() > 0" class="selected-count">
          ({{ getSelectedRowsCount() }} row{{ getSelectedRowsCount() > 1 ? 's' : '' }} selected in grid)
        </span>
      </div>
      <div class="modal-grid-container">
        <ag-grid-angular
          style="width: 100%; height: 500px;"
          class="ag-theme-alpine"
          [gridOptions]="gridOptions"
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="closeModal()" class="cancel-btn">
        Cancel
      </button>
      <button (click)="saveModal()" class="save-btn">
        <app-icon name="save" size="14"></app-icon> Save
      </button>
    </div>
  </div>
</div>
